
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}  
body{
    height: 100vh;    
    background-color: #E0E2DB;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:14px;
    font-family: 'Courier New', Courier, monospace;
}
ul,form,.input,.header,.body,.selectiondiv,.fetchdiv,.container,.logoText,.story,.stories{
    display: flex;
    
}
form,.form,.body,.selectiondiv,.fetchdiv,.logoText,.story{
    flex-direction: column;
    gap:18px;
}
form{
    height: 100%;
    border:3px solid black;
    padding:50px;
    border-radius: 15px;
    flex-direction: column;
}
.form{
    width:40%;
    gap:15px;
}

.input,.Current,form{
    width:100%;
    gap:18px;
    font-size:32px;
    color:#000F08;
    font-weight: bolder;
}

.list{
    display:flex;
    background-color:#397367 ;
    border: 3px solid #000F08;
    border-top:none;
    width:95%;
    gap:15px;
    padding:30px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.header{
    width:100%;
    align-items: center;
    flex-direction: column;
    align-self: center;
    gap:16px;
    max-height:30%;
    margin-bottom:auto;
    
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    justify-content: space-around;
    align-items:center;
    flex:auto;

}
li{
    flex:auto;
}
ul a{
    color:white;
    font-weight: bolder;
    font-size: 24px;
    
}
a{
    text-decoration: none;
}
a :hover{
    color:#8B2635;
    
}
.body{
    margin-top:30px;
    justify-content: space-between;
    align-items: center;
    flex-grow:3;
   
    

}
.selectiondiv{
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:32px;
    width:85%;
}
.fetchdiv{
    border:3px solid black;
    background-color: #1C77C3;
    color:white;
    width:32%;
    border-radius: 10px;
    font-size:18px;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
}

.Current{
 
   
    text-align: center;
}
.container{
    flex-grow:3;
    justify-content: space-evenly;
    align-items: center;
}
.footer{
    margin-top:auto;
    background-color: #8B2635;
    max-height: 15%;
    color:#E0E2DB;
    font-weight: bold;
    display: flex;
    justify-content: center;
   
}
.button{
    background-color: #1C77C3;
    height:25px;
    font-weight: bold;
    color:white;
    width:50%;
    align-self: center;
    border:1px solid #000F08;
    border-radius: 10px;
}
.logoText{
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 48px;
}
h2{
    font-family:'Courier New', Courier, monospace;

    text-align: center;
}
.submit{
    background-color: #8B2635;
    font-weight: bold;
    width:35%;
    
    border-radius: 15px;
    align-self: center;
    height: 100%;
    border:1px solid #E0E2DB;
}
.buttonsForm{
    
    all: unset;
    align-self:center;
    width:100%;
    height:25px;
     display:flex;
    justify-content:center;
    gap:15px;
}
.stories{
    margin:auto;
    gap:50px;
    justify-content: center;
    background-image: linear-gradient(to right,#8B2635 ,#F6F740);
    width: 100%;
    padding: 10px;

}
.story{
    background-color: #1C77C3;
    border: 1px solid black;
    width:310px;
    align-items: center;
    padding:10px;
    height: fit-content;
    border-radius: 50px;
}
.story h1{
    color:white;
    font-size: 24px;;
}
.storyimg{
    border:1px solid darkblue;
    border-radius:15px;
}